
body {
    background-color: #2C2F33;
}

.username {
    font-size: 20px;
    padding-right: 20px;
    margin: 0;
}

.pp {
    width: 50px;
}

.reggeltcount {
    font-size: large;
    flex-grow: 1;
    margin: 0;
}

.container {
    background-color: #2C2F33;
    margin-top: 70px;
}

.leaderboard {
    background-color: #23272A;
    color: #FFFFFF;
}

.blank {
    padding-top: 80px;
    background-color: #23272A;
    padding-bottom: 80px;
}

.col {
    padding: 20px;
    display: flex;  
    align-items: center;
    flex-direction: row-reverse;
}

.row:not(:last-child) {
    border-bottom: 1px #3E4246 solid ;
}

.loading {
    padding: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.button-box {
    margin: 40px;
}
/* loading */

.errimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 40px;
}

.reload {
    position: fixed;
    bottom: 40px;
    right: 40px;
}