<div class="blank">
    <div class="button-box">
        <!--
        <button class="btn btn-outline-light btn-lg btn-block" (click)="reload()">Reload</button>
        <p style="color: white; float: right; font-size: xx-large; cursor: pointer;"><mat-icon (click)="reload()">update</mat-icon></p>
        -->

    </div>

    <div *ngIf="!online" class="leaderboard">
        <div class="offline-text">
            You are offline. Please, connect to internet.
        </div>
    </div>

    <div *ngIf="!error.status" class="leaderboard">
        <div class="container">
            <div *ngIf="loading" class="spinner">
                <span class="spinner-inner-1"></span>
                <span class="spinner-inner-2"></span>
                <span class="spinner-inner-3"></span>
            </div>
        </div>
        <div *ngIf="!loading" class="container">
            <div class="row justify-content-md-center" *ngFor="let user of users">
                <div class="col">
                    <img *ngIf="!user.pp" class="pp" src="{{ notfoundimg }}">
                    <img *ngIf="user.pp" class="rounded-circle pp" src="{{ user.pp }}">
                    <p class="username">{{ user.name }}</p>
                    <p class="reggeltcount">{{ user.reggeltcount }}</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="error.status && !online" class="container">
        <img class="errimg" src="{{ error.image }}">
        <h1>{{ error.message }}</h1>
    </div>

    <button *ngIf="!loading || error.status" mat-fab color="grey" class="reload" (click)="reload()">
        <mat-icon>refresh</mat-icon>
    </button>
</div>