<br>
<br>
<br>
<div id="count" class="box" *ngIf="!noid">
    <span class="spawn-box"><p>Ennyiszer köszöntél be: </p><p class="yellow"> {{ reggeltcount }}</p></span>
    <img class="dcpicture" src="{{ dcpp }}">
</div>
<div id="nocount" *ngIf="noid">

    <button style="margin-bottom: 40px;" (click)="getUser()">Search</button>
    <div *ngFor="let user of dcids">
        <button routerLink="/count/{{ user.id }}">{{ user.tag }}</button>
        <!--need to add component reload-->
    </div>
</div>
