<div class="padd"></div>
<form #f="ngForm" (ngSubmit)="getUsers(f)" novalidate>
    <div class="container">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Full Discord user name</span>
            <input type="text" name="name" class="form-control" placeholder="Pl.: zal1000" aria-label="Discord user name" aria-describedby="basic-addon1" ngModel required #first="ngModel">
        </div>
        <div class="wrapper">
            <button mat-raised-button color="primary" class="vertical-center m10">Get "reggelt" count</button>
        </div>
    </div>
</form>
<br>
<div>
    <div *ngIf="loading" class="spinner">
        <span class="spinner-inner-1"></span>
        <span class="spinner-inner-2"></span>
        <span class="spinner-inner-3"></span>
    </div>
</div>

<div *ngIf="!online" class="leaderboard">
    <div class="offline-text">
        You are offline. Please, connect to internet.
    </div>
</div>

<div *ngIf="!loading" class="container">
    <div class="row" *ngFor="let btn of buttons">
        <div class="col">
            <app-count *ngIf="!btn.err && !btn.loading" [dcid]="btn.id"></app-count>
        </div>
    </div>
</div>
