.padd {
    padding-top: 100px;
}

.wrapper {
    text-align: center;
}

.m10 {
    margin-bottom: 30px;
}

.offline-text {
    text-align: center;
    color: red;
    font-size: 20px;
    margin: 8px;
}
