.btn {
    text-align: center;
}

.vertical-center {
    width: 100%;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-signup {
    width: 45%;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container {
    text-align: center;
    position: relative;
}