<br>
<br>
<br>
<br>
<div *ngIf="loading">
    <div class="spinner">
        <span class="spinner-inner-1"></span>
        <span class="spinner-inner-2"></span>
        <span class="spinner-inner-3"></span>
    </div>
</div>
<div *ngIf="!loading">
    <form #f="ngForm" class="form" *ngIf="!loggedin" novalidate>
        <div class="container">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="email" name="email" class="form-control" placeholder="horvathzalan@zal1000.com" ngModel required #first="ngModel">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Password</span>
                <input type="password" name="pass" class="form-control" placeholder="Password..." ngModel required>
            </div>
            <div class="wrapper">
                <br>
                <button class="btn btn-primary login-signup m10" (click)="login(f)" style="margin-right: 10%;" type="submit">Login</button>
                <button class="btn btn-secondary login-signup m10" (click)="register(f)" type="button">Register</button>
                <br><br>
                <button type="button" class="fab fa-google btn btn-danger vertical-center m10" (click)="googleLogin()"> Login with Google</button><br><br>
                <button type="button" class="fab fa-facebook-f btn btn-primary vertical-center m10" (click)="facebookLogin()"> Login with Facebook</button>
            </div>
        </div>
    </form>
    <div class="container" *ngIf="loggedin">
        <!--<button class="btn btn-warning" (click)="checkout()">Subscribe for premium</button>-->

        <br><br>
        <button mat-flat-button color="primary" (click)="accountDialog()">Account settings</button>
        <br><br><br>
        <div *ngIf="dclinked">
            <div *ngFor="let guild of guilds">
                <button mat-flat-button routerLink="/console/{{guild.id}}">{{guild.name}}</button><br><br>
            </div>
    
            <br><br><br>
    
            <!--<button mat-flat-button color="accent" (click)="settingdialog()">Bot settings</button>-->
            <br><br><br>
            <!--<button mat-flat-button color="primary" *ngIf="!prod" (click)="premiumDialog()">Premium</button>-->
            <form class="checkout-form" *ngIf="checkoutstate">
                
            </form>
            <div *ngIf="changesInProgress" class="cont-apply">
                <button mat-flat-button  class="btn-appyl">Apply changes</button>
            </div>
        </div>
        <div *ngIf="!dclinked">
            <h1>Send the command below to the bot</h1>
            <h1 style="color: aquamarine;">r!link {{user.email}} {{dclinkcode}}</h1>
            <h1>The site will update automaticaly</h1>
        </div>
    </div>
</div>
