.btn {
    text-align: center;
}

.vertical-center {
    width: 100%;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-signup {
    width: 45%;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container {
    text-align: center;
    position: relative;
}

.sync-btn:disabled {
    color: #FFFFFF;
    background-color:#C3C4C6;    
}

.cont-apply {
    height: 200px;
    position: fixed;
    bottom: 50px;
    left: 50%;

}

.btn-appyl {
    margin: 0;
    position: fixed;
    bottom: 10%;
}