<div class="pad"></div>
<div class="main">
    <div class="text" *ngIf="eng">
        <button class="button hun" (click)="langHun()">
            Hun
        </button>
        <h1>Thanks for visiting our bots page!</h1>
        <h2>We hope our bot can satisfy your requirements!</h2>
        <br>
        <h1>How to use</h1>
        <h2>Create a channel called "morning"</h2>
        <h2>The bot will delete every message expect for morning</h2>
        
    </div>
    <div class="text" *ngIf="hun">
        <button class="button eng" (click)="langEng()">
            Eng
        </button>
        <h1>Ez a reggelt bot oldala</h1>
        <br>
        <h1>Útmutató a használathoz</h1>
        <h2>Ha beveszi a szerverére akkor csináljon egy "reggelt" nevű szobát</h2>
        <h2>Ebbe a szobába csak azt lehet írni, hogy "reggelt" ezáltal pontokat szerezve</h2>
        <h2>Ezt a szót 6 óránként lehet beírni így minden nap akár 4 pontot lehet szerezni</h2>
    </div>
</div>