<div class="pad"></div>
<div class="main">
    <div class="text" *ngIf="eng">
        <div>
        <h1>Üvözlet a "Reggelt" botnál!</h1>
        <button class="button hun" (click)="langHun()"></button>
        <h2 style="margin-top: 70px;">Kérem ügyeljen arra, hogy ebbe a botba nem jelenít meg más szöveget csak annyit, hogy "reggelt"</h2>
        <h2>Hat óránként köszönhet be a botba, ezen alkalmakkor pedig pontokat gyűjthet vele</h2>
        <h3 style="margin-top: 100px;">Vigyázat!</h3>
        <h2>Más szövegek beírása esetén pontlevonás jár.</h2>
        <br>
        <h2>Köszönjük, hogy betartja a szabályokat!</h2>
        <h2>Jó pontgyűjtést!</h2>
        <p class="ream">A reggeltbot csapata</p>
    </div>
    <div class="text" *ngIf="hun">
        <h1>Üvözlet a "Reggelt" botnál!</h1>
        <button class="button eng" (click)="langEng()"></button>
        <h2 style="margin-top: 70px;">Kérem ügyeljen arra, hogy ebbe a botba nem jelenít meg más szöveget csak annyit, hogy "reggelt"</h2>
        <h2>Hat óránként köszönhet be a botba, ezen alkalmakkor pedig pontokat gyűjthet vele</h2>
        <h3 style="margin-top: 100px;">Vigyázat!</h3>
        <h2>Más szövegek beírása esetén pontlevonás jár.</h2>
        <br>
        <h2>Köszönjük, hogy betartja a szabályokat!</h2>
        <h2>Jó pontgyűjtést!</h2>
        <p class="ream">A reggeltbot csapata</p>
    </div>
</div>