<br>
<br>
<div class="text"  style="padding-top: 10px;">
    <h1>Thanks for visiting our bots page!</h1>
    <h2>We hope our bot can satisfy your requirements!</h2>
    <br>
    <h1>How to use</h1>
    <h2>Create a channel called "morning"</h2>
    <h2>The bot will delete every message expect for morning</h2>
</div>
<div class="text"  style="padding-top: 10px;">
    <h1>Köszönjük, hogy meglátogatta a bot oldalát!</h1>
    <h2>Reméljük, hogy a bot ki tudja elégíteni az ön igényeit!</h2>
    <br>
    <h1>Útmutató a használathoz</h1>
    <h2>Csinálj egy csatornát aminek a neve "reggelt"</h2>
    <h2>A bot a "reggelt" szón kívül mindent ki fog törölni, és ez azért jó mert lehet pontokat szerezni ami S T O N K S</h2>
</div>